---
chdir: "{{ priceapi_dir }}/current"
environment: "{{ priceapi_config.environment }}"
socket: '{{ priceapi_dir }}/shared/tmp/sockets/thin.sock'
# address: 0.0.0.0
# port: 3000
timeout: 30
log: "{{ priceapi_dir }}/shared/log/thin.log"
pid: '{{ priceapi_dir }}/shared/tmp/pids/thin.pid'
max_conns: 1024
max_persistent_conns: 100
require: []
wait: 30
threadpool_size: 20
user: rbdev
